<div class="container">
  <div class="row">
    <new-product-form (updateProductList)="updateProductList()" *appHasPermissions="['can-write']"></new-product-form>
  </div>
  <div class="row">
    <ul class="products list-group">
      <li *ngFor="let product of products$ | async" [class.selected]="product.id === selectedId"
        class="list-group-item">
        <a [routerLink]="['/product', product.id]">
          <span class="badge">{{ product.id }}</span>{{ product.name }}
        </a>
      </li>
    </ul>
  </div>
</div>